.padding-example {
  background-color: lightblue;
  border: 2px solid blue;
  padding: 20px;
}

.margin-example {
  background-color: violet;
  border: 2px solid blue;
  margin: 20px;
}

.regular-box {
  border: 20px solid purple;
  width: 250px;
  height: 250px;
  padding: 20px;
  margin: 40px;
}

.border-box {
  border: 10px solid purple;
  width: 250px;
  height: 250px;
  padding: 20px;
  margin: 10px;

  box-sizing: border-box;
}

.inline-example {
  background-color: lightgray;
  padding: 5px;
  margin: 0 15px;
  border: 1px solid black;
}

.border-examples {
  border: 1px solid black;
  width: 250px;
  height: 250px;
  border-width: 15px 10px 10px 20px;
  border-style: groove;
  border-color: red green blue purple;
}

.overflow {
  margin-top: 15px;
  height: 50px;
  width: 200px;
  border: 1px solid black;
  overflow: auto;
}
