.container {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  padding: 8px;
  gap: 8px;
}

.btn.one {
  grid-column: 1/4;
  grid-row: 1;
}

.btn.two {
  grid-row: 1 / span 3;
}

.btn.three {
  grid-column: 4;
  grid-row: 3;
}

/* .btn.four {
  grid-column: 5;
  grid-row: 3;
} */

.btn.five {
  grid-column: 1 / span 2;
}

.btn.six {
  grid-column: 2;
  grid-row: 5;
}
