<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1 style="background-color: blueviolet">This is a block element</h1>
    <p style="background-color: crimson">This is a block element too</p>
    <span style="background-color: aqua">This is inline element</span>
    <span style="background-color: tomato">Another span element</span>
    <p style="background-color: lightblue">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis,
      cumque!
    </p>
  </body>
</html>
