div {
  position: absolute;
  width: 75px;
  height: 75px;
  border-radius: 10px;
  padding: 5px;
}

#first {
  background-color: deepskyblue;
  top: 10px;
  left: 10px;
  z-index: 4;
}

#second {
  background-color: tomato;
  top: 30px;
  left: 30px;
  z-index: 3;
}

#third {
  background-color: chartreuse;
  top: 50px;
  left: 50px;
  z-index: 2;
}

#fourth {
  background-color: crimson;
  top: 70px;
  left: 70px;
  z-index: 1;
}
